<h1>{{ product.title |  capitalize }}</h1>
<p>price: {{product.price}}</p>
{% if product.available %} 
  <p>status: In Stock</p>
{%else %}
  <p>status: Out of Stock</p>
{%endif%}

<ul>
  {% for image in product.images %} 
    <li><img src="{{image.src | img_url: 'medium'}}" alt="Product Image"></li>
   {% endfor %}
</ul>
{% render 'footer' %}%}